.textBox {
    perspective: 400px;
    padding: 0 16px;
}

/* Hero Title */
.title {
    font-size: clamp(28px, 5vw, 70px);
    line-height: clamp(38px, 8vw, 100px);
    font-weight: 700;
    color: white;
}

.line {
    display: block;
    text-align: left;
}

/* Letters */
.letter,
.highlight {
    display: inline-block;
    transform-style: preserve-3d;
}

.highlight {
    color: var(--primary-color);
}



/* Button */
.btn {
    margin-top: clamp(20px, 4vw, 30px);
    background: var(--primary-color);
    border: none;
    padding: clamp(10px, 2.5vw, 14px) clamp(18px, 4vw, 26px);
    border-radius: 50px;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
}

@media (max-width: 1024px) {

    .title {
        font-size: clamp(28px, 5vw, 40px);
        /* line-height: clamp(38px, 8vw, 100px);
        font-weight: 700;
        color: white; */
    }

}

@media (max-width: 768px) {
    .line {
        text-align: center;
    }

    .btn {
        margin-left: auto;
        margin-right: auto;
    }
}